<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Rekomendacje</title>
</head>
<body class="rekomendacjabg">
    <header>
        <div class="welcome">
            {% if 'username' in session %}
            <p>Witaj, {{ session['username'] }}!</p>
            {% endif %}
        </div>
        <div class="nav-links-center">
            <a href="{{ url_for('index') }}" class="btn">Strona Główna</a>
            <a href="{{ url_for('search') }}" class="btn">Wyszukiwanie książek</a>
            <a href="{{ url_for('recommendations') }}" class="btn">Rekomendacje</a>
            <a href="{{ url_for('rankings') }}" class="btn">Ranking</a>
            <a href="{{ url_for('forum') }}" class="btn">Forum</a>
            <a href="{{ url_for('reader_panel') }}" class="btn">Panel czytelnika</a>
            <a href="{{ url_for('admin') }}" class="btn">Panel admina</a>
        </div>
        <div class="nav-links-right">
            {% if 'username' in session %}
            <a href="{{ url_for('logout') }}" class="btn">Wyloguj się</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="btn">Zaloguj się</a>
            <a href="{{ url_for('register') }}" class="btn">Zarejstruj się</a>
            {% endif %}
        </div>
    </header>
    <main>
        <h1>Rekomendacje</h1>
        <form method="POST">
            <label for="genre">Gatunki:</label>
            <select name="genre" id="genre">
                <option value="">Wszystkie gatunki</option>
                {% for genre in genres %}
                <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>

            <label for="category">Kategorie:</label>
            <select name="category" id="category">
                <option value="">Wszystkie kategorie</option>
                {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">Filtruj</button>
        </form>
        <ul class="book-list">
            {% for book in books %}
                <li class="book-item">
                    <h2>{{ book[1] }}</h2>
                    <p>{{ book[2] }} ({{ book[3] }})</p>
                    <p>{{ book[4] }}</p>
                </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
